.header___5J1uP {
  height: 100px;
  background: #A32D34;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.items___1re-r {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0; }

.item___3yU2b {
  list-style-type: none;
  padding-right: 10px; }

.item___3yU2b:hover {
  font-size: 20px; }

footer {
  height: 100px;
  background: #A32D34;
  color: white; }

nav {
  background: none; }

nav a {
  display: inline-block;
  padding: 15px;
  color: white;
  cursor: pointer;
  text-decoration: none; }

.clip___EatMD {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: #8756ca;
  color: white; }

picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  flex-direction: column;
  width: auto;
  padding: 10%; }

picture div {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat; }

.player___3BIhR {
  padding: 30px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center; }

h3 {
  margin: 0; }

h6 {
  margin: 0;
  margin-top: 1em; }

audio {
  margin-top: 2em;
  width: 100%; }

.modal___3nGYs {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999; }

.modal___3nGYs {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999; }

.channels___3hd93 {
  display: grid;
  grid-gap: 15px;
  padding: 15px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); }

h1 {
  font-weight: 600px;
  padding: 15px; }

a.channel___183wN {
  display: block;
  margin-bottom: 0.5em;
  color: #333;
  text-decoration: none; }

.channel___183wN img {
  border-radius: 3px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  width: 100%; }

h2 {
  padding: 5px;
  font-size: 0.9em;
  font-weight: 600;
  margin: 0;
  text-align: center; }

.message___bj012 {
  padding: 100px 30px;
  text-align: center;
  height: 70vh; }

h1 {
  margin-bottom: 2em; }

a {
  color: #8756ca; }

.channels___3aTae {
  display: grid;
  grid-gap: 15px;
  padding: 15px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); }

.channel___3FJ5F {
  display: block;
  margin-bottom: 0.5em;
  color: #333;
  text-decoration: none; }

.channel___3FJ5F img {
  border-radius: 3px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  width: 100%; }

h2 {
  padding: 5px;
  font-size: 0.9em;
  font-weight: 600;
  margin: 0;
  text-align: center; }

.podcast___Ehevn {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.podcast___Ehevn:hover {
  color: #000; }

.podcast___Ehevn h3 {
  margin: 0; }

.podcast___Ehevn .meta___Bckgf {
  color: #666;
  margin-top: 0.5em;
  font-size: 0.8em; }

nav {
  background: none; }

nav a {
  display: inline-block;
  padding: 15px;
  color: white;
  cursor: pointer;
  text-decoration: none; }

.clip___1D7z1 {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: #8756ca;
  color: white; }

picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  flex-direction: column;
  width: auto;
  padding: 10%; }

picture div {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat; }

.player___2OmYS {
  padding: 30px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center; }

h3 {
  margin: 0; }

h6 {
  margin: 0;
  margin-top: 1em; }

audio {
  margin-top: 2em;
  width: 100%; }

.modal___150QX {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999; }

nav {
  background: none; }

nav a {
  display: inline-block;
  padding: 15px;
  color: white;
  cursor: pointer;
  text-decoration: none; }

.clip___1D7z1 {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: #8756ca;
  color: white; }

picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  flex-direction: column;
  width: auto;
  padding: 10%; }

picture div {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat; }

.player___2OmYS {
  padding: 30px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center; }

h3 {
  margin: 0; }

h6 {
  margin: 0;
  margin-top: 1em; }

audio {
  margin-top: 2em;
  width: 100%; }

.modal___150QX {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999; }


/*# sourceMappingURL=styles.chunk.css.map*/